<div class="container-big-card">
  <div class="big-card-img">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1200px-Marvel_Logo.svg.png"
      alt=""
      width="400px"
      height="200px"
    />
  </div>
  <div class="big-card-title">
    <h2><a href="#"> Marvel new movie</a></h2>
  </div>
  <div class="big-card-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quae
      fugit aliquid architecto nostrum voluptatum necessitatibus voluptatem
      distinctio doloremque itaque, dignissimos inventore minus cumque eius id
      deleniti autem, maiores eligendi!
    </p>
  </div>
</div>
