.container-small-card {
  width: 800px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.container-small-content {
  display: flex;
  flex-direction: row;
}

.small-card-img > img {
  width: 300px;
  min-width: 200px;
}

.small-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.small-card-separator {
  margin-top: 10px;
}
